.launch{
    color: #fff;
    background: linear-gradient(to bottom,#000000,  #0D1B2A ,rgba(13, 27, 42, 0.8));
}

.launch__heading{
    padding:5%;
    padding-top: 10%;
    background-image: url("../../assets/1-shuttleendea\ 1.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.launch__heading h1{
    font-size: 70px;
    font-weight: 400;
    font-style:italic ;
    margin-bottom: 0;
    padding-left: 2%;
}
.launch__paragraph img{
    width: 35px;
    height: 35px;
    padding: 25px;
}
.launch__paragraph p{
    font-size: 25px;
}
.launch__paragraph{
    display: flex;
}
.launch__detail{
    padding:0 25px;
    font-size: 20px;
    display: flex;
}
.launch__table{
    padding:10% 5%;
    justify-content: center;
}
.ship__img_change img{
    width: 250px;
}
.launch__line{
    display: flex;
}

td p{
    padding: 10px;
}
table{
    border: 1px;
}
.launch__table th,td{
    font-size:20px;
    font-style: italic;
    /* width: 15%; */
    justify-content: center;
    text-align: center;
    padding: 10px;
    border-left: 1px solid;
}
.noline{
    border-left: none;
}

@media (max-width: 1060px) {
    .ship__img_change img{
        width: 200px;
    }
}

@media (max-width: 1060px) {
    .ship__img_change img{
        width: 150px;
    }
    .launch__table th,td{
        font-size: 15px;
        padding: 5px;
    }
}


@media (max-width: 670px) {
    .ship__img_change img{
        width: 100px;
    }
    .launch__table th,td{
        font-size: 10px;
        padding: 5px;
    }
}

@media (max-width: 475px) {
    td p{
        padding: 5px;
    }
    .ship__img_change img{
        width: 50px;
    }
    .launch__table th,td{
        font-size: 10px;
        padding: 2px;
    }
}