.teams{
    margin: 5% 1%;
    flex-basis: 40%;
    color: #fff;
    background: linear-gradient(to bottom,rgba(0, 0, 0, 0.5),  rgb(23, 48, 74) ,rgba(2, 17, 33, 0.5) );
    text-align: center;
    border: 2px solid;
    border-color: rgb(29, 52, 144) rgb(5, 27, 50) rgb(2, 32, 65);
}

.teams__img{

    background: linear-gradient(to bottom,rgba(0, 0, 0, 0.5),  rgb(34, 64, 96) ,rgba(2, 17, 33, 0.5) );
    border: 2px solid;
    border-color: rgb(29, 52, 144) rgb(5, 27, 50) rgb(2, 32, 65);
    display: flex;
    justify-content:right;
    margin: 10% 15%;
    margin-bottom: 0;
    text-align: center;
    padding-top: 10px;
}

.teams__img img{
    float: right;
    width: 100%;
}
.teams__data h2{
    padding: 0;
    margin: 2px;
    font-size: 25px;
    font-weight: 00;
}
.teams__data h3{
    margin: 2px;
    font-size: 23px;
    font-weight: 300;
    font-style: italic;
    letter-spacing: 0.5px;
}

.teams__data p{
    padding: 20px;
    font-size: 24px;
    font-style: italic;
    font-weight: 300;
}

