.navbar{
    background:transparent;
    position: fixed;
    width: 100%;
    z-index: 1;
    display: flex;
    height: 110px;
}
.navbar__img{
    height: 50px;
    padding: 30px 20px;
    padding-left: 35px;
    z-index: 2;

}
.navbar__content{
    color: #FFFFFF;
    position: absolute;
    right: 0;
    display: flex;
    padding: 25px 20px;
    list-style: none;
    font-size: 15px;
    justify-content: space-evenly;
    width: 55%;
    text-align: center;
}

.navbar__list{
    padding: 0px 10px;
    font-weight: 500;
}

.menu{
    display: none;
}
.side__menu ul{
    display: none;
}

@media (max-width: 900px) {
    .navbar__content{
        display: none;
    }
    .navbar__img{
        height: 45px;
    }
    .menu{
        position: absolute;
        padding-top:  20px;
        right: 5%;
        display: grid;
        width: 2.5%;
        z-index: 200;
        filter: invert(1);
    }
   
    .side__menu{
        /* background: linear-gradient(to left, #dcdcdc, #8e82b9, #5f7197, #616ae3, #e0e0e0); */
        /* background: transparent; */
        background-color: rgb(16, 12, 74,0.7);
        position: absolute;
        right: 15%;
        margin-top: 50px;
        border-radius: 5px;
        border: 2px solid;
        border-color:rgb(27, 27, 86) rgb(12, 12, 136) rgb(24, 17, 116);

    }
    .side__menu ul{
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 5px 15px;
        padding-bottom: 10px;
        font-size: 15px;
    }
    .side__list{
        padding: 15px 0;
        border: 2px solid rgb(12, 12, 136);
        padding: 9px;
        margin: 5px;
        font-weight: 300;
        letter-spacing: 1px;
        border-radius: 20px;
        text-align: center;
        border-color:rgb(27, 27, 86) rgb(12, 12, 136) rgb(24, 17, 116);
        text-shadow: 5px 5px 19px rgb(0, 0, 0);
    }

    .side__list:hover{
        background-color: rgba(3, 3, 48, 0.95);
        color: white;
    }
}

@media (max-width: 700px) {
    .navbar__img{
        height: 40px;
    }
}

@media (max-width: 500px) {
    .navbar__img{
        height: 35px;
    }
}

@media (max-width: 400px) {
    .navbar__img{
        height: 30px;
    }
    .menu{
        right: 15%;
        margin-top: 15px;
    }
}